@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

html, body {
    width: 100%;
}

:root {
    --body-background: #0e0e0e;
    --color-logo: #ff5b50;
    --card-color: #252525;
    --text-color: #fff;
    --text-color-hover: rgb(233, 233, 233);
    --subtitle-color: #5a5757;
    --black-text: #000;
    --color-input: #0D0D0D;
}

.top-container{
    width: 100%;
    background: url(assets/background.png) no-repeat center;
    background-size: cover;
    height: auto;
}

.orange {
    font-style: normal;
    color: var(--color-logo);
}

.underline {
    text-decoration: underline;
}

header {
    max-width: 1400px;
    width: 90%;
    margin: 0 auto;
    padding: 57px 0 90px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav ul{
    display: flex;
    gap: 60px;
}

header nav ul a {
    font-size: 1.125rem;
    color: var(--text-color);
}

header nav ul a:hover{
    color: var(--color-logo);
}

.menu {
    cursor: pointer;
    display: none;
}

.menu div {
    height: 2px;
    width: 32px;
    margin: 8px;
    background-color: var(--text-color);
    transition: 0.3s;
}

.menu.active .line1 {
    transform: rotate(225deg) translate(-7px, -7px);
}

.menu.active .line2 {
    opacity: 0;
}

.menu.active .line3 {
    transform: rotate(315deg) translate(7px, -7px);
}

header button {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 10px 22px 10px 14px;
    background-color: var(--text-color);
    border: none;
    cursor: pointer;
}

header button:hover{
    background-color: var(--text-color-hover);
}

header button img {
    transition: 0.5s;
}

header button:hover img {
    transform: rotate(-30deg);
}

header button:active img {
    transform: rotate(0);
    transition: 0.1s;
}

header button span {
    color: var(--black-text);
    font-weight: 700;
}

.hero{
    max-width: 1400px;
    width: 90%;
    margin: 0 auto 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero .info {
    width: 396px;
    display: flex;
    flex-direction: column;
    gap: 55px;
}

.hero .info p {
    font-size: 1.125rem;
    color: var(--text-color);
}

.hero .info .artists {
    display: flex;
    gap: 6px;
    align-items: flex-end;
}

.hero .info .artists .text {
    font-size: 1.125rem;
}

.hero .info .artists p strong {
    display: block;
}

.hero h1 {
    width: 596px;
    font-size: 3.125rem;
    color: var(--text-color);
    font-weight: 700;
}

.hero > img {
    animation: rotate 15s linear infinite;
}

@keyframes rotate {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}

.gallery {
    max-width: 1400px;
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 24%);
    grid-template-rows: repeat(2, 43%);
    justify-content: center;
    row-gap: 14%;
    column-gap: 1.33%;
}

.gallery .img-container {
    border: 2px solid var(--text-color);
    cursor: pointer;
    overflow: hidden;
}

.gallery .img-container img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    transition: transform 0.5s;
}

.gallery .img-container:hover img {
    transform: scale(1.2);
    transition: transform 1s linear;
}

main {
    background-color: var(--body-background);
}

.info-container {
    display: flex;
    justify-content: flex-end;

}

.info-content {
    display: flex;
    border-bottom: 1px solid var(--subtitle-color);
    width: 100%;
    padding-left: calc((100vw - 1400px)/2);
}

.info-content .left-container {
    display: flex;
    flex-direction: column;
    padding: 133px 67px 133px 0;
    gap: 70px;
    border-right: 1px solid var(--subtitle-color);
}

.info-content .left-container .text-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.info-content .left-container .text-box .number {
    font-size: 3.125rem;
    font-weight: 600;
    color: var(--text-color);
}

.info-content .left-container .text-box .text {
    font-size: 1.25rem;
    font-weight: 600;
    color: var(--subtitle-color)
}

.info-content .right-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.info-content .right-container .text-container {
    display: flex;
    gap: 126px;
    padding: 80px 71px 68px 71px;
}

.info-content .right-container .text {
    max-width: 435px;
}

.info-content .right-container p {
    font-size: 1.125rem;
    color: var(--text-color);
    margin-bottom: 63px;
}

.info-content .right-container a {
    color: var(--text-color);
}

.info-content .right-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.section-popular {
    max-width: 1400px;
    width: 90%;
    margin: 0 auto;
    padding: 150px 0;
}

.section-popular h2 {
    font-size: 3.125rem;
    font-weight: 700;
    color: var(--text-color);
    margin-bottom: 145px;
}

.section-popular .arts1, .arts2{
    display: flex;
    justify-content: space-between;
}

.section-popular .art .name{
    display: flex;
    justify-content: space-between;
    margin-bottom: 44px;
}

.section-popular .art .name img{
    transition: transform 0.5s;
}

.section-popular .art:hover .name img{
    animation: arrowHover 0.8s linear infinite;
}

@keyframes arrowHover{
    50% {
        transform: translate(8px, -8px);
    }
}

.section-popular .art .name h3 {
    font-size: 1.875rem;
    font-weight: 500;
    color: var(--text-color);
}

.section-popular .art .description {
    display: flex;
    justify-content: space-between;
    margin-bottom: 44px;;
}

.section-popular .art .description .artist {
    font-size: 1.25rem;
    font-weight: 600;
    color: var(--subtitle-color);    
}

.section-popular .art .description .price {
    font-size: 1.25rem;
    font-weight: 400;   
}

.section-popular .img-container {
    max-width: 350px;
    overflow: hidden;
}

.section-popular .arts1 .img-container{
    margin-bottom: 50px;
}

.section-popular .img-container img{
    width: 100%;
    transition: transform 0.5s;
}

.section-popular .art:hover .img-container img{
    transform: scale(1.2);
    transition: transform 1s linear;
}

.section-popular .divisor {
    border-right: 1px solid var(--subtitle-color);
}

.section-best {
    padding-bottom: 147px;
}

.section-best h2{
    text-align: center;
    font-size: 3.125rem;
    font-weight: 700;
    color: var(--text-color);
    margin-bottom: 120px;
}

.section-best .artists {
    max-width: 1400px;
    width: 90%;
    margin: 0 auto 54px;
    display: flex;
    flex-wrap: wrap;
    gap: 111px;
    justify-content: space-between;
}

.section-best .artists .artist-container{
    width: 350px;
    height: 150px;
    display: flex;
    padding: 25px 17px 25px 32px;
    gap: 40px;
    align-items: center;
    background-color: var(--card-color);
}

.section-best .artists .artist-container:hover{
    background-color: var(--color-logo);
}

.section-best .artists .artist-container:hover .text .photographs{
    color: var(--text-color);
}

.section-best .artists .artist-container .text {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.section-best .artists .artist-container .text .name{
    font-size: 1.25rem;
    font-weight: 500;
    color: var(--text-color);
}

.section-best .artists .artist-container .text .photographs{
    font-size: 1.25rem;
    color: var(--color-logo);
}

.section-best .show-more{
    width: 240px;
    margin: 0 auto;
    display: flex;
}

.section-best .show-more span{
    font-size: 1.25rem;
    color: var(--text-color);
    margin-right: 13px;
}

.section-best .show-more:hover img{
    animation: arrowHover 0.8s linear infinite;
}

footer {
    background-color: var(--card-color);
}

.footer-title {
    display: flex;
    justify-content: space-between;
    width: 90%;
    max-width: 1400px;
    margin: 0 auto;
    padding: 85px 0 64px;
}

.footer-title .to-top {
    padding: 28px;
    background-color: var(--color-logo);
    border: none;
    cursor: pointer;
}

.footer-title .to-top > img{
    transition: 0.2s;
}

.footer-title .to-top:hover{
    background-color: #ff483b;
}

.footer-title .to-top:hover img{
    transform: translateY(-5px);
}

.footer-title .to-top:active{
    background-color: var(--color-logo);
}

.footer-body {
    padding: 0 calc((100vw - 1400px)/2);
    display: flex;
    border-top: 1px solid var(--subtitle-color);
    border-bottom: 1px solid var(--subtitle-color);
}

.newsletter-container {
    padding: 67px 62px 82px 0;
    border-right: 1px solid var(--subtitle-color);
}

.newsletter-container h3{
    font-size: 1.875rem;
    font-weight: 500;
    color: var(--text-color);
    max-width: 350px;
    margin-bottom: 25px;
}

.email-capture {
    display: flex;
}

.email-capture input {
    padding: 20px;
    font-size: 1.25rem;
    border: none;
    outline: none;
    color: var(--subtitle-color);
    background-color: var(--body-background);
}

.email-capture button {
    font-size: 1.25rem;
    font-weight: 700;
    color: var(--black-text);
    padding: 22px 25px;
    border: none;
    background-color: var(--text-color);
    cursor: pointer;
}

.email-capture button:hover {
    background-color: var(--subtitle-color);
}

.email-capture button:active {
    background-color: var(--text-color);
}

.links-container {
    width: 100%;
    padding: 74px 0 53px 122px;
    display: flex;
    gap: 128px;
}

.links-container ul {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.links-container ul li a{
    font-size: 1.25rem;
    color: var(--subtitle-color);
}

.links-container ul li:first-child a{
    font-weight: 700;
    color: var(--text-color);
}

.footer-footer {
    display: flex;
    max-width: 1400px;
    width: 90%;
    margin: 0 auto;
    padding: 69px 0 61px;
    align-items: center;
    justify-content: space-between;
}

.footer-footer a {
    font-size: 1.25rem;
    color: var(--subtitle-color);
}

.social-medias {
    display: flex;
    gap: 50px;
}

.social-medias a img {
    padding: 7px;
    transition: .5s;
}

.social-medias a:hover img {
    transform: translateY(-8px);
}

@media (max-width: 1400px) {
    .hero {
        flex-direction: column;
        gap: 30px;
    }

    .hero h1 {
        order: -1;
        text-align: center;
        width: auto;
        width: 80%;
    }

    .hero .info {
        width: auto;
        align-items: center;
        width: 80%;
    }

    .hero .info > p {
        text-align: center;
    }

    .hero > img {
        width: 100px;
    }

    .gallery {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }

    .gallery .img-container {
        max-width: 100%;
    }

    .gallery img {
        max-width: 100%;
    }

    .info-content {
        width: 100%;
        padding-left: 5%; 
    }

    .section-best {
        padding-bottom: 64px;
    }

    .section-best .artists {
        gap: 64px;
    }

    .footer-body {
        padding: 0 5%;
    }

    .links-container {
        width: 100%;
        padding: 0;
        justify-content: center;
        align-items: center;
        display: flex;
        gap: 64px;
    }
}

@media (max-width: 1000px) {   
    header {
        padding-top: 20px;
        padding-bottom: 30px;
    }
    
    header > a img {
        width: 200px;
    }

    header nav {
        position: absolute;
        top: 80px;
        width: 200px;
        right: 5%;
        transform: translateX(250px);
        opacity: 0;
        transition: 0.2s ease-in-out;
    }

    header nav.active{
        transform: translateX(0);
        opacity: 1;
    }

    header nav ul{
        background-color: var(--body-background);
        flex-direction: column;
        align-items: center;
        gap: 10px;
        padding: 20px 0;
        border: 2px solid var(--text-color); 
    }
    
    header nav ul li {
        padding: 10px 0;
        border-bottom: 1px solid var(--subtitle-color);
    }

    .hero {
        margin-bottom: 30px;
    }

    .hero h1 {
        width: 80%;
    }

    .hero .info {
        width: 80%
    }

    .menu {
        display: block;
        order: 5;
    }

    .gallery {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto;
        row-gap: 10px;
    }

    .gallery .img-container:hover img {
        transform: scale(1);
    }

    .info-content .right-container .text-container {
        display: flex;
        gap: 10%;
        padding: 80px 5% 71px;
    }

    .section-popular {
        padding: 64px 0 32px;
    }
    
    .section-popular h2 {
        margin-bottom: 64px;
        text-align: center;
    }

    .section-popular .arts1, .arts2{
        flex-direction: column;
        max-width: 350px;
        margin: 0 auto;
    }

    .section-popular .arts1 .img-container, .section-popular .arts2 .img-container{
        margin-bottom: 64px;
    }

    .section-popular .divisor {
        display: none;
    }

    .section-popular .art:hover .name img{
        animation: none
    }

    .section-popular .art:hover .img-container img{
        transform: none;
    }

    .section-best h2{
        margin-bottom: 64px;
    }

    .section-best .artists {
        justify-content: center;
        gap: 64px;
    }

    .section-best .artists .artist-container:hover{
        background-color: var(--card-color);
    }
    
    .section-best .artists .artist-container:hover .text .photographs{
        color: var(--color-logo);
    }

    footer .footer-title .to-top:hover{
        background-color: var(--color-logo);
    }

    footer .footer-title .to-top:hover img{
        transform: translateY(0);
    }
    
    footer .footer-title .to-top:active{
        background-color: #ff483b;
    }

    footer .footer-title .to-top:active img{
        transform: translateY(-5px);
    }

    .email-capture button:hover {
        background-color: var(--text-color);
    }
    
    .email-capture button:active {
        background-color: var(--subtitle-color);
    }

    .footer-body {
        padding: 30px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-top: 1px solid var(--subtitle-color);
        border-bottom: 1px solid var(--subtitle-color);
    }
    
    .newsletter-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 0 32px;
        border-right: none;
        width: auto;
    }

    .newsletter-container h3 {
        width: auto;
        text-align: center;
        margin-bottom: 32px;
    }
}

@media (max-width: 800px){
    .footer-footer {
        flex-direction: column;
        gap: 32px;
        padding: 32px 0;
    }
}

@media (max-width: 600px){
    header > a img {
        width: 150px;
    }
    
    header button {
        padding: 10px 14px;
    }

    header button span{
        display: none;
    }

    header button:hover img {
        transform: rotate(0);
    }
    
    header button:active img {
        transform: rotate(-30deg);
    }

    .hero h1 {
        width: 100%;
        /* font-size: 1rem; */
    }

    .hero .info {
        width: 100%
    }

    .gallery {
        grid-template-columns: repeat(2, 1fr);
    }

}

@media (max-width: 500px){    
    .info-container {
        justify-content: center;
    }
    
    .info-content {
        flex-direction: column;
        max-width: 100%;
        width: 100%;
        padding-left: 0;
    }

    .info-content .left-container {
        padding: 64px 0;
        border-right: none;
        border-bottom:  1px solid var(--subtitle-color);
    }
    
    .info-content .right-container {
        align-items: center;
    }

    .info-content .right-container .text-container {
        flex-direction: column;
        gap: 64px;
        padding: 64px 0;
        width: 90%;
        text-align: center;
    }
    
    .info-content .right-container .text {
        max-width: 100%;
    }

    .footer-title > img{
        width: 200px;
    }
    
    .footer-title .to-top {
        padding: 15px;
    }
    
    .newsletter-container h3{
        max-width: 90%;
    }
    
    .email-capture {
        display: flex;
        max-width: 90%;
        flex-direction: column;
    }

    .links-container {
        flex-direction: column;
    }
    .links-container ul {
        align-items: center;
    }


    
}

@media (max-width: 400px){
    .gallery {
        grid-template-columns: repeat(1, 1fr);
    }
}

[data-anime] {
    opacity: 0;
    transition: 0.5s;
}

[data-anime="left"]{
    transform: translate3d(-50px, 0, 0);
}

[data-anime="right"]{
    transform: translate3d(50px, 0, 0);
}

[data-anime].animate{
    opacity: 1;
    transform: translate3d(0, 0, 0);
}